body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 12rem);    /* 192px / 16px base font-size = 15rem */
    grid-template-rows: repeat(3, 12rem);       /* 192px / 16px base font-size = 15rem */
    gap: 0.5rem;                                /* 8px / 16px base font-size = 0.5rem */
}

/* responsible for the symbols inside the grid */
#gameboard div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;                 /* 36px / 16px base font-size = 2.25rem */
    background-color: #fff;
    border: 0.125rem solid #333;      /* 2px / 16px base font-size = 0.125rem */
    cursor: pointer;
}

.disabled {
    pointer-events: none; /* prevents mouse interactions */
}

/* style for the select drop-down */
#difficulty {
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 0.125rem solid;
    border-radius: 0.25rem;
    text-align: center;
    appearance: none;
}

#controls > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

#restart-btn {
    margin-top: 0.625rem;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;

    border: 0.125rem solid;
    border-radius: 0.25rem;
}
