body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1a1a1a;
    color: #39ff14;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 12rem);    /* 192px / 16px base font-size = 15rem */
    grid-template-rows: repeat(3, 12rem);       /* 192px / 16px base font-size = 15rem */
    gap: 1.5rem;                                /* 24px / 16px base font-size = 0.5rem */
}

/* responsible for the each square inside the grid */
#gameboard div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;                     /* 36px / 16px base font-size = 2.25rem */
    cursor: pointer;
    background-color: black;
    border: 0.125rem solid #39ff14;       /* 2px / 16px base font-size = 0.125rem */

    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

#gameboard div:hover {
    background-color: #333333;      /* Lighter black on hover */
    transform: scale(1.02);           /* Slight scale-up on hover */
}

.disabled {
    pointer-events: none; /* prevents mouse interactions */
}

/* style for the select drop-down */
#difficulty {
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
    appearance: none;

    border-radius: 0.25rem;
    background-color: black;
    border: 0.125rem solid #39ff14;       /* 2px / 16px base font-size = 0.125rem */
    color: #39ff14;
}

#controls > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

#restart-btn {
    margin-top: 0.625rem;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: black;
    border: 0.125rem solid #39ff14;       /* 2px / 16px base font-size = 0.125rem */
    color: #39ff14;
}
